useDynLib(froth)

importFrom("methods", "is", "show")

export(froth)

export(froth.reset)
export(froth.parse)
export(froth.source)

export(froth.RDefine)
export(froth.RPush)
export(froth.RPop)

export(saveFrothSession)
export(loadFrothSession)

export(froth.dictionary)
export(writeFrothDictionary)


S3method(show, "FrothVariableAddress")
S3method(print, "FrothVariableAddress")
S3method(show, "FrothExecutionToken")
S3method(print, "FrothExecutionToken")
